* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body {
  background-image: linear-gradient(to right, #2e2d2d 0%, black 100%);
  min-height: 150vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 40px 100px;
  z-index: 10000;
}
header.sticky {
  padding: 5px 100px;
  background: white;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.5s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}
header.sticky .logo,
header.sticky ul li a {
  color: black;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/pics/homopho1.jpg");
  background-size: cover;
}
header.sticky .logo,
header.sticky ul li a {
  color: black;
}
.head1 {
  color: white;
  text-align: center;
}
.text {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.box {
  position: absolute;
  padding-top: 500px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding: 20px;
  width: 90%;
  height: 30%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
  display: flex;
}
.box .img img {
  max-width: 90%;
  height: 100%;
  border-radius: 3px;
}
.box .formtxt h2 {
  padding: 0 0 0 0;
  color: rgb(167, 161, 161);
}
.box .formtxt {
  color: white;
}
.lists li {
  padding-bottom: 250px;
}
.txt {
  padding: 0 0 0 60px;
}
.end {
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100%
  );
  width: 100%;
}

.end h1 {
  font-weight: 700px;
  color: black;
  font-size: 40px;
}

.end .fst {
  position: relative;
}

.end .fst ul {
  display: flex;
  list-style: none;
}

.end .fst ul li a img {
  width: 50px;
  padding: 10px 0 10px;
}

.end .snd ul {
  display: flex;
  list-style: none;
}

.end .snd ul li a {
  text-decoration: none;
  padding: 0 40px 0 0;
  color: black;
}

.favourite {
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url(../pics/heart1.png);
  background-color: rgba(31, 31, 31, 0);
  background-size: 51px 47px;
   top: 50%;
   left:50%;
    margin-left: 580px;
    margin-top: 50px;
  }
  .favourite:hover{
    display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
  background-image: url(../pics/heart1.png);
  background-color:  rgba(31, 31, 31, 0);;
  background-size: 51px 47px;
   top: 50%;
   left:50%;
    margin-left: 580px;
    margin-top: 50px;
  }
 

  
  .favouriteToggeled
  {
    
 background-color:  rgba(31, 31, 31, 0);;
 background-image: url(../pics/red-heart-transparent-background-6.png);
 display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
  background-size: 51px 47px;
   top: 50%;
   left:50%;
    margin-left: 580px;
    margin-top: 50px;

  }

  .favouriteToggeled:hover
  {
    
    background-color:  rgba(31, 31, 31, 0);;
    background-image: url(../pics/red-heart-transparent-background-6.png);
    display: inline-block;
     position: relative;
     border: none;
     cursor: pointer;
       width: 50px;
       height: 50px;
       position: absolute;
     background-size: 51px 47px;
      top: 50%;
      left:50%;
       margin-left: 580px;
       margin-top: 50px;

  }
  

